.borderbuttomdashedcustom{
    background-image: linear-gradient(to right, #3C6E71 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 30px 2px;
    background-repeat: repeat-x;
}
.bordertopdashedcustom{
    background-image: linear-gradient(to right, #3C6E71 33%, rgba(255,255,255,0) 0%);
    background-position: top;
    background-size: 30px 2px;
    background-repeat: repeat-x;
}