@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  box-sizing: border-box;
}
:root{
  direction: rtl
}
.slick-prev:before,
.slick-next:before{
  color: black !important;
}
.slick-center img{
  transform: scale(1.3)!important;
}
.slick-slide img{
  transition: 0.8s;
  -o-transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
  opacity: 0;
}
.slick-active img{
  opacity: 1;
}
/* avatar component prop */
.ant-upload-list-item::before{
    width: 100% !important;
    height: 50% !important;
    bottom: 0;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 9999px !important;
    border-bottom-right-radius: 9999px !important;
    opacity: 1 !important;
}
.ant-upload-list-item-thumbnail{
  cursor: default;
}
.anticon-eye{
  display: none;
}
.ant-upload-list-item-actions{
    transform: translate(0,30px);
}
/* can edit is active */
.ant-upload-list-item-actions , .ant-upload-list-item::before{
  display: block;
}
.ant-upload-list-item-custom::before{
  display: none;
}
.ant-upload-list-item-actions,.ant-upload-list-item-action{
    opacity: 1 !important;
}
.ant-upload-list-item-done{
  padding: 0 !important;
}
.ant-upload-list-item-container{
  width: 140px !important;
  height: 140px !important;
}
.ant-upload-select{
  width: 140px !important;
  height: 140px !important;  
}
.ant-upload-list-item-undefined{
  padding: 0 !important;
}
/* end avatar component prop */

@layer components {
  /* checkbox style start */
  body {
    @apply font-vazir;
  }
  .ant-checkbox-inner {
    @apply rounded border border-secondary !important;
  }

  .ant-checkbox .ant-checkbox-inner:after {
    @apply text-secondary bg-transparent border-secondary !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    @apply bg-transparent !important;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox:after,
  .ant-checkbox-wrapper:hover .ant-checkbox-checked:after {
    @apply rounded border border-secondary border-2 !important;
  }

  /* checkbox style end */

  /* cart steps color start */

  .active-step {
    @apply text-white border-white;
  }

  /* cart steps color end */

  /* circle bg style start*/
  .bg-circle {
    @apply before:content-[''] before:w-[500px] lg:before:w-[900px] before:h-[500px] lg:before:h-[900px] before:absolute before:left-[-10%] before:top-[-18%] before:bg-primary-light before:z-0  relative overflow-hidden before:rounded-full;
  }

  /* circle bg style end*/
  .a[title="pre"]{
    @apply hidden;
  }

  /* .MuiSvgIcon-root
  .MuiSvgIcon-fontSizeMedium
  .css-i4bv87-MuiSvgIcon-root{
    @apply text-primary-dark w-40 bg-primary; */
  /* } */


   .ant-pagination-item-active{
    @apply text-primary-dark border-primary-dark !important;
  }
  .ant-pagination-item-active a {
    @apply text-primary-dark !important;
  }
  .ant-pagination-item-link{
    @apply p-0 m-0;
  }

  /* .active{
    @apply  border-primary border-b-2;
  } */

  .slide{
    /* @apply ; */
  }
}
